* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: gainsboro;
}

#register {
    color: white;
    font-size: large;
    background: linear-gradient(to right, midnightblue 0%, black 100%);
    border-radius: 10pc;
    width: 150px;
    height: 50px;
    margin-top: 15%;
    margin-left: 41.4%;

    /* position: absolute; */
    /* z-index: 10; */
}

form {
    background:
        /* linear-gradient(to right, black 0%, midnightblue 100%) */
        rgba(0, 255, 255, 0.261);
    border-radius: 30vh;  
    gap: 30px;
    margin-top: 5%;
    margin-left: 33%;
    width: 80vh;
    height: 80vh;
    box-shadow: 15px 15px 10px #c9c9c9,
                -14px -14px 10px #f1f1f1;
    
    display: none;
    /* position: relative; */
    /* z-index: 100; */
}

form .form-content {
    display: flex;
    flex-direction: column;
}

form .form-content .input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding-top: 3vh;
    margin: auto;
}

/*label {
    width: 4%;
}*/
input {
    width: 85%;
    height: 5.999vh;
    margin: auto;
    border-radius: 3.5vh;
    border: solid 1.5px gainsboro;
    text-align: center;
    color: black;
    font-size: 18px;
    background: whitesmoke;
}
img {
    width: 4.6vh;
    height: 4.6vh;
}

#join {
    color: white;
    background: linear-gradient(to right, midnightblue 0%, black 100%);
    border-radius: 10pc;
    width: 150px;
    height: 5.999vh;
    font-size: 18px;
    margin: auto;
    background: transparent;
    border: none;
    box-shadow: 15px 15px 50px rgba(42, 172, 172, 0.665),
                -14px -14px 30px rgba(98, 247, 247, 0.487);
}

